.container {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem;
}

.strip {
  position: absolute;
  width: 200vw;
  white-space: nowrap;
  overflow: hidden;
}

.strip1 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-5deg);
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.25);
}

.strip2 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(5deg);
  background: linear-gradient(196deg, #1B5C5C 10.54%, #154242 89.05%);
  color: white;
  /* padding: 20px 0; */
}
.item {
  display: inline-flex;
  align-items: center;
  margin: 0.75rem 0.5rem; /* spacing between each set */

  
}


.word {
  margin-right: 0.25rem; 
}

.separator {
  margin-left: 2.56rem; 
margin-right:2.56rem ;
}

.moving-text {
  display: flex;
  width: fit-content;
}

.moving-left {
  animation: slideLeft 85s linear infinite;
}

.moving-right {
  animation: slideRight 85s linear infinite;
}

.strip span {
  font-size: 1rem;
  letter-spacing: 2px;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
.text{
  padding:  0.38rem 1.78rem;
}
@media only screen and (min-width:1024px){
  .container{
    height: 40vh;
  }
  .strip span{
    font-size: 1.5rem;
  }
}
@media only screen and (min-width:1440px){
  .strip1 {
  transform: translateX(-50%) translateY(-50%) rotate(-3deg);
}
.strip span{
  font-size: 2rem;
}

.strip2 {
  
  transform: translateX(-50%) translateY(-50%) rotate(3deg);
  /* padding: 20px 0; */
}
}
