.CarasolCard {
  position: relative;
  width: 100%;
  margin: 2rem;
}
.dotcontainer {
  display: flex;
   justify-content: space-between;

  align-items: center;
  margin-top: 1.5rem;
}

.dot {
  display: flex;
  gap: 8px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.05);
 background-color: rgba(32, 32, 32, 0.8);
 padding: 1rem;
}

.dotItem {
  height: 8px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.active {
  background-color: #4ade80; /* green-400 */
  width: 24px; /* w-6 */
}

.inactive {
  background-color: #6b7280; /* gray-500 */
  width: 8px; /* w-2 */
  opacity: 0.5;
}
.arrowContainer {
  
  display: flex;
  gap: 8px;
  color: white;
  
 
}

.head{
    margin: 2rem;
    text-align: center;
}
.head h2{
    color: white;
    font-size: 2rem;
}
.head h3{
    color: #868A8A;
    font-size: 0.875rem;
}
.grad{
    position: absolute;
    margin-top: -2.5rem;
    height: 8rem !important;
    z-index: 0;
}
.Carausel{
    margin: 1.8rem;
}

/* Card carousal */
.potrait{
    padding: 0.5rem;
    border-radius: 1.5rem;
border: 1px solid rgba(255, 255, 255, 0.15);
background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0.00) 0%, rgba(27, 51, 41, 0.10) 100%);
box-shadow: 0 0 100px 0 rgba(204, 215, 255, 0.05) inset, 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 30px 60px 0 rgba(0, 0, 0, 0.10);
backdrop-filter: blur(10px);
width: fit-content;
/* height: 15rem; */
height: fit-content;
display: flex;
justify-content: center;
cursor: pointer;
}
.wrapper{
overflow: hidden;
    border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);


}
.potrait img{
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
    border-radius: 1rem;
/* min-width: 15rem; */
/* max-width: 21.75rem; */
/* width: fit-content; */
height: 10rem;
object-fit: cover;
transition: transform 0.3s ease; 


}
.potrait img:hover{
transform: scale(1.05);
}

.introduction{
    
   margin-top:1rem ;
   margin-bottom: 0.75rem;
}
.introduction button:first-child{
    margin-right: 1rem;
}
.introduction button{
    font-size: 0.75rem;
border-radius: 1rem;
color: #C3C5C5;
padding: 0.5rem 1rem;
border: 0.5px solid rgba(255, 255, 255, 0.05);
background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0.00) 0%, rgba(27, 51, 41, 0.05) 100%);
box-shadow: 0 0 100px 0 rgba(204, 255, 233, 0.05) inset, 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 30px 60px 0 rgba(0, 0, 0, 0.10);
backdrop-filter: blur(10px);
}

.desc{
    color: white;
    font-size: 1.125rem;
}
.arrowButton {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background 0.2s ease;
  z-index: 10;
}

.arrowButton:hover {
  background: rgba(255, 255, 255, 0.2);
}
@media only screen and (min-width:425px){
  .potrait img{
    height: 12rem;
    /* max-width: 21rem; */
  }
}
@media only screen and (min-width:768px){
      .grad{
  display: none;
}



}
@media only screen and (min-width:1024px){

.potrait img{
  height: 24rem;
}

.dotcontainer{
    justify-content: space-between;
    margin: 2rem 4rem;
}

}
@media only screen and (min-width:1440px){
  .potrait img{
    height: 28rem;
  }
}