
.gradientmobile{
    position:absolute;
    width: 100%;
    height: 6rem;
    margin-top: -2rem;
    z-index: 0;
}
.gradientdesktop{
    display: none;
    
}

.contactform , .potrait{
    margin: 0rem 2rem;
}
.contactform{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.contactcontainer{
    position: relative;
    width: 100%;
    padding-top: 6rem ;
    z-index: 2;
    
}
.dot {
  color: #22c55e; /* green */
  font-size: 1rem;
  margin-right: 0.5rem;
  font-family: none;
  
}
.potrait h1{
    color: white;
    font-size: 1rem;
}
.potrait h2{
    color: white;
    font-size: 2rem;
}
.formsection{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.formsection label{
 color: white;
}

.formsection input{
    color: #898989;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #131313;
box-shadow: 0 0 24px 0 rgba(255, 255, 255, 0.08) inset, 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 30px 60px 0 rgba(0, 0, 0, 0.10);
backdrop-filter: blur(10px);
}
.formsection textarea{
    color: #898989;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #131313;
box-shadow: 0 0 24px 0 rgba(255, 255, 255, 0.08) inset, 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 30px 60px 0 rgba(0, 0, 0, 0.10);
backdrop-filter: blur(10px);
height: 8rem;
}
.vutton{
color: #0A1518;
display: flex;
height: 3rem;
width: 8rem;
padding: 0.5rem 1.5rem;
justify-content: center;
align-items: center;
gap: 0.5rem;
border-radius: 6.25rem;
border: 1px solid #4EFFF0;
background: linear-gradient(250deg, #29F99E -12.84%, #4EFFF0 118.51%);
z-index: 2;
}
.potrait img{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
/* .extradiv{
    display: flex;
    justify-content: center;
} */
@media  only screen and (min-width:768px){
    .contactform , .potrait{
    padding: 0rem 4rem; 
        margin: 0rem;

 } 
.contactcontainer{
    padding-top: 8rem;
    /* padding: 0rem 4rem; */
    
}
}
@media only screen and (min-width:1024px){
     .contactform , .potrait{
        padding: 0rem 6rem;
     }
}

@media only screen and (min-width:1440px){
    .extradiv{
        /* position: relative; */
        display: flex;
        padding: 0rem 7.5rem;
        justify-content: space-between;
        width: 1440px;
        gap: 4rem;
        /* overflow: hidden; */
    }
    .gradientmobile{
        display: none;
    }
    .gradientdesktop{
        display: flex;
        z-index: 0;
        position: absolute;
        top: -90%;
        left: 0;

    }
    .potrait img{
        height: 21.75rem;
        width: 34.5rem;
    }
    .potrait h2{
        font-size: 3rem;
        width: 34.5rem;
    }
    .contactform , .potrait{
        padding: 0rem;
        /* z-index: 8; */

     }
     .contactform{
      height: 33.75rem;
      width: 35.5rem;  
      margin-top:40px ;
      /* align-items: end; */

     }
     .vutton{
        margin-top: 40px;
        z-index: 2;

     }
     .contactcontainer{
        display: flex;
        justify-content: center;
        z-index: 2;
        width: 100%;
     }
    
}
@media only screen and (min-width:1920px){
    .extradiv{
        padding: 0rem 15rem;
        width: 1920px;

    }
}

