.footerWrapper {
    position: relative;
    min-height: 150vh;   /* allow footer to grow */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;    /* prevents unwanted scrollbars */
    background: #000;
}

.footerGradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: none; /* You had this set to none */
    
}

.footerGradient2 {
    position: absolute;
    top: 0;              /* anchor at top */
    left: 0;
    width: 100%;
    height: 100%;        /* stretch across wrapper */
    object-fit: cover;
    z-index: 2;
}


.container{
    position: relative;
    margin: 4rem 4rem 0rem 4rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 2rem;
    padding: 2rem 0; /* Add some padding */
}

.logoContainer h2{
    color: rgba(255, 255, 255, 0.75);
    margin-top: 1.25rem;
    /* width: auto;
    height: auto; */
}

.unfound{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5;
    margin-top: 2rem;
}

.quicklinks h2{
    color: rgba(255, 255, 255, 0.50);
}

.getintouch h2{
    color: rgba(255, 255, 255, 0.50);
}

.quicklinks li{
    color: white;
    list-style: none;
    padding: 0.5rem 0;
}

.quicklinks ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 0.5rem 1rem; /* row gap / column gap */
  list-style: none;
  padding: 0;
  margin: 0;
}

.icons{
    color: white;
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    font-size: 1.5rem;
}



@media only screen and (min-width:1024px){

.footerGradient2{
    display: none;
}
.footerGradient{
    display: flex;
}
}
