.container{
  width: 100% !important;
  /* overflow: hidden; */
  margin-top: 5rem;
}
.dotcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.dot {
  display: flex;
  gap: 8px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.05);
 background-color: rgba(32, 32, 32, 0.8);
 padding: 1rem;
}

.dotItem {
  height: 8px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.active {
  background-color: #4ade80; /* green-400 */
  width: 24px; /* w-6 */
}

.inactive {
  background-color: #6b7280; /* gray-500 */
  width: 8px; /* w-2 */
  opacity: 0.5;
}

.scalingSlide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
}
.grad{
    position: absolute;

    z-index: 0;
    /* margin-top: -5rem; */
    height: 5rem;  
}
.grad2{
  display: none;
}
.head{
color: white;
display: flex;
flex-direction: column;
align-items: center;

padding: 2rem;
gap: 0.5rem;
}
.head h2{
  font-size: 18px;
  /* align-items: ; */
  top: 0;
  /* text-align: start; */
  white-space: nowrap;
}
.head h3{
  font-size: 1.5rem;
}

.servicecontainer2{
  display: none;
}

@media only screen and (min-width:768px){
  .grad{
  display: none;
}
.vertical{
  display: flex;
  flex-direction: column;
gap: 1.5rem;

}
.vertical2{
   display: flex;
  flex-direction: column;
gap: 1.5rem;
margin-top: 5rem;
}
.vertical3{
   display: flex;
  flex-direction: column;
gap: 1.5rem;
margin-top: 10rem;

}

}
@media only screen and (min-width:1024px){
  .Carausel{
    display: none;
  }
  .servicecontainer2{
    display: flex;
    justify-content: center;
    margin: 3rem 6rem 8rem 6rem;
    gap: 1.5rem;
  }
  .grad2{
  display: flex;       /* make sure image acts like a block element */
  margin-left: auto; 
  right: 0;
  position: absolute !important;
  z-index: 0;
  /* background-color: black; */
  margin-top:-40rem ;
  /* width: 100%; */
  overflow: hidden;

  
}
.head{
  /* width: 1024px; */
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 6rem;
  align-items: normal;
  
}
.head h2{
  font-size: 1.5rem;
  width: 360px;
  
 
}
.head h3{
  /* width: 40rem; */
  font-size: 1.75rem;
  padding-left: 5rem;
}
}
@media only screen and (min-width:1440px){
 .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  .grad2{
    margin-top: -55rem;
    /* height: 10rem !important; */
  }
  .head{
    width: 1440px;
  padding: 2rem 7.5rem;
    
  }
  .head h2{
    width: 480px;
  }
  .servicecontainer2{
    margin: 3rem 7.5rem 10rem 7.5rem;
  }
}

@media only screen and (min-width:1920px){
  .servicecontainer2{
    margin: 3rem 15rem 10rem 15rem;

  }
  .head{
  padding: 2rem 15rem;
    
  }
  
}