.container {
  /* padding: 60px 20px; */
  /* padding: 2rem; */
  text-align: center;
  color: white;
  position: relative;
  background-color: transparent;
  max-height: fit-content;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; */

}
.extradiv{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.grad{
  position: absolute;
    z-index: 9;
    /* margin-top: -1rem; */
    height: 5rem;
    /* overflow: hidden; */
    
    
    
}
.heading {
  font-size: 1.25rem;
  color: #cccccc;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 16px;
  
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  /* gap: 8px; */
}

.value {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 0.6rem;
  /* text-align:start; */
}

.label {
  font-size: 0.9rem;
  color: #bbbbbb;
  gap: 8px;
  
}
.experiment{
  display: flex;
  justify-content: center;
}
.dot {
  color: #22c55e; /* green */
  font-size: 1rem;
  font-family: none;
  margin-right: 0.5rem;
  
}
.Statscard{
  position: relative;
  /* z-index: 10; */
  width: 100%;
  padding: 2rem;
  /* width: ; */
  /* display: flex; */
  /* justify-content: space-between; */

}
.grad2{
  display: none;
}

@media only screen and (min-width:768px){
.Statscard{
  display: flex;
  flex-direction: row;
  margin: 0rem 4rem 5rem 4rem;
  justify-content: space-between;
  width: 640px;
  
}
.container{
  padding: 0rem;
}
.grad{
  display: none;
}


}
@media only screen and (min-width:1024px){
.grad2{
  display: flex;
  position: absolute !important;
  z-index: -1;
 
  /* background-color: black; */
  margin-top:-45rem ;

  
}
.value{
  margin-left: 0rem;
}
.grid{
  gap: 2rem 5rem;
}
.container{
  background-color: transparent;
}
.Statscard{
  margin: 0rem 6rem 5rem 6rem;
  padding: 0rem;
  width: 835px;

}
.heading{
  font-size: 1.5rem;
}
}
@media only screen and (min-width:1440px){
  .heading{
    font-size: 2rem;
  }
  .grid{
    margin-right: 4rem;
    gap: 3rem 6rem;

  }
  .value{
    font-size: 3rem;
  }
  .label{
    font-size: 1rem;
  }
  .Statscard{
  margin: 0rem 7.5rem 5rem 7.5rem;
width: 1175px;
  }
 
 
}
@media only screen and (min-width:1920px){
  .Statscard{
  margin: 0rem 15rem 5rem 15rem;
  width: 1440px;
}
.heading{
  font-size: 4rem;
}

}